@charset "UTF-8";
/*Base styles*/
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: .83em;
  margin: 1.67em 0;
}

h6 {
  font-size: .67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"],
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  max-width: 100%;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 900;
}

ul {
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

a[href^=tel] {
  color: inherit !important;
  text-decoration: none;
}

/* This stylesheet generated by Transfonter (http://transfonter.org) on September 11, 2016 8:07 AM */
@font-face {
  font-family: 'Cormorant Infant SemoBold Italic';
  src: url("../fonts/subset-CormorantInfant-SemiBoldItalic.eot");
  src: url("../fonts/subset-CormorantInfant-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-CormorantInfant-SemiBoldItalic.woff") format("woff"), url("../fonts/subset-CormorantInfant-SemiBoldItalic.ttf") format("truetype"), url("../fonts/subset-CormorantInfant-SemiBoldItalic.svg#CormorantInfant-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Cormorant Infant Regular';
  src: url("../fonts/subset-CormorantInfant-Regular.eot");
  src: url("../fonts/subset-CormorantInfant-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-CormorantInfant-Regular.woff") format("woff"), url("../fonts/subset-CormorantInfant-Regular.ttf") format("truetype"), url("../fonts/subset-CormorantInfant-Regular.svg#CormorantInfant-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant Infant Medium';
  src: url("../fonts/subset-CormorantInfant-Medium.eot");
  src: url("../fonts/subset-CormorantInfant-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-CormorantInfant-Medium.woff") format("woff"), url("../fonts/subset-CormorantInfant-Medium.ttf") format("truetype"), url("../fonts/subset-CormorantInfant-Medium.svg#CormorantInfant-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
/*@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/subset-HelveticaNeueCyr-Roman.eot');
	src: url('../fonts/subset-HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/subset-HelveticaNeueCyr-Roman.woff') format('woff'),
		 url('../fonts/subset-HelveticaNeueCyr-Roman.ttf') format('truetype'),
		 url('../fonts/subset-HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
/* Generated by Fontie - the magic webfont generator <http://fontie.flowyapps.com> */
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E001;
}
@font-face {
  font-family: 'DIN Pro Cond Bold';
  src: url("../fonts/subset-DINPro-CondensedBold.eot");
  src: url("../fonts/subset-DINPro-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-DINPro-CondensedBold.woff") format("woff"), url("../fonts/subset-DINPro-CondensedBold.ttf") format("truetype"), url("../fonts/subset-DINPro-CondensedBold.svg#DINPro-CondensedBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant Upright Medium';
  src: url("../fonts/subset-CormorantUpright-Semibold.eot");
  src: url("../fonts/subset-CormorantUpright-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-CormorantUpright-Semibold.woff") format("woff"), url("../fonts/subset-CormorantUpright-Semibold.ttf") format("truetype"), url("../fonts/subset-CormorantUpright-Semibold.svg#CormorantUpright-Semibold") format("svg");
  font-weight: 500;
  font-style: normal;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "HelveticaNeueCyr";
  color: #878787;
}

h2,
h1 {
  color: #C3995F;
  font: 60px/72px "Cormorant Upright Medium";
  display: inline-block;
  margin-bottom: 40px;
}
h2:after,
h1:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #C3995F;
  margin-top: -8px;
}
@media (max-width: 600px) {
  h2,
  h1 {
    font: 48px/60px "Cormorant Upright Medium";
  }
}

.white {
  color: #FFF;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 1200px;
  background-color: inherit;
}
@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

section {
  padding: 70px 0;
}

hr {
  border-top-color: #ccc;
}

.coffeeBg {
  background-color: #f4f3f0;
}

.whiteBg {
  background-color: #fff;
}

.media {
  margin-top: 0;
}

/* ----------------- clearfix  ------------- */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

/* -------------- veretical align ---------- */
/* -------------- position ---------- */
/* ------------------ flex ----------------- */
/* ------------------ flex ----------------- */
/*
.flex-center-spaceB,
.flex-center-spaceA,
.flex-center-spaceS,
.flex-start-spaceB,
.flex-start-spaceA,
.flex-start-spaceS {
    -webkit-display: flex;
  display: flex;
}
.flex-center-spaceB {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-center-spaceA {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex-center-spaceS {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-start;
  justify-content: space-start;
}

.flex-start-spaceB {
  -webkit-align-items: start;
  align-items: start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-start-spaceA {
  -webkit-align-items: start;
  align-items: start;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex-start-spaceS {
  -webkit-align-items: start;
  align-items: start;
  -webkit-justify-content: space-center;
  justify-content: space-center;
}
*/
/* ------------------- animation   ---------------*/
/* -------------- transition ---------- */
/* -------------- transition ---------- */
/* ------------------- text ending ---------------*/
/* ------------------- tooltip  ---------------*/
/* ------------------- triangle ---------------*/
/* ------------------- media ---------------*/
/*Plugins styles*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("scss/plugins/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("scss/plugins/fonts/slick.eot");
  src: url("scss/plugins/fonts/slick.eot?#iefix") format("embedded-opentype"), url("scss/plugins/fonts/slick.woff") format("woff"), url("scss/plugins/fonts/slick.ttf") format("truetype"), url("scss/plugins/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #CCC;
}
.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}
.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.mfp-ie7 .mfp-container {
  padding: 0;
}
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  -o-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*Parts styles*/
.mainHeader {
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  width: 100%;
  z-index: 100;
  margin: 0;
  height: 120px;
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  /*.................media.............*/
  /*.............end media..............*/
}
.mainHeader .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 0 44px;
}
@media (max-width: 1100px) {
  .mainHeader {
    position: fixed;
    left: -100%;
    right: auto;
    top: 0;
    bottom: auto;
    width: 260px !important;
    height: 100%;
    text-align: center;
    background-color: #333;
    margin-top: 0;
    padding: 20px 0;
    z-index: 100;
  }
  .mainHeader.active {
    left: 0;
  }
  .mainHeader .wrapper {
    display: block;
    width: 100%;
  }
}

/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav ul li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}
.mainNav ul li:first-child {
  margin-left: 0;
}
.mainNav ul li:last-of-type:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 30px;
}
.mainNav ul li a {
  color: #FFF;
  font: 18px "DIN Pro Cond Bold";
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  .mainNav ul li {
    display: block;
    margin: 20px auto;
  }
  .mainNav ul li:last-of-type:after {
    display: none;
  }
}

@media (max-width: 1100px) {
  .logo {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    display: block;
  }
  .logo img {
    max-width: 100%;
  }
}
.selectLang {
  width: 58px;
  padding: 0;
  font: 18px "DIN Pro Cond Bold";
  background: transparent;
  text-transform: uppercase;
  color: #e54c39;
  margin-left: 30px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}
.selectLang option {
  color: #878787;
  background: none;
  font-size: 18px;
}
@media (max-width: 1100px) {
  .selectLang {
    top: 40px;
  }
}

/* ------------------------------------ */
/*  MENU BUTTON  */
.menu-button {
  display: none;
  width: 40px;
  height: 39px;
  position: fixed;
  left: auto;
  right: 10px;
  top: 15px;
  bottom: auto;
  margin: auto;
  cursor: pointer;
  z-index: 100;
  background-color: #C3995F;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /*.................media.............*/
  /*..............end media.............*/
}
.menu-button .menu-line {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: auto;
  width: 60%;
  height: 3px;
  background-color: #fff;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.menu-button .top_line {
  top: 10px;
  margin: auto;
}
.menu-button .middle_line {
  top: 18px;
  margin: auto;
}
.menu-button .bottom_line {
  bottom: 10px;
  margin: auto;
}
.menu-button.active {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.menu-button.active .top_line {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 45%;
}
.menu-button.active .bottom_line {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 45%;
}
.menu-button.active .middle_line {
  width: 0;
  left: 50%;
}
@media (max-width: 1100px) {
  .menu-button {
    display: block;
  }
}

.offer {
  min-height: 300px;
  padding: 140px 0 60px;
  background-image: url("../images/offer_bg_sm.jpg");
  background-repeat: no-repeat;
  position: relative;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.offer .wrapper {
  height: 100%;
  width: 100%;
  padding: 0 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .offer .wrapper {
    padding: 0 15px;
  }
}
.offer--big {
  height: 940px;
  background-image: url("../images/offer_bg.jpg");
}
@media (max-width: 1100px) {
  .offer--big {
    height: auto;
    padding: 140px 0 160px;
  }
}
.offer--big .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .offer {
    padding: 100px 0 100px;
  }
}

.down {
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  line-height: 25px;
  text-align: center;
  color: #444;
  position: absolute;
  left: 0;
  right: auto;
  bottom: 44px;
  left: 44px;
  margin: auto;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.down:hover {
  background: #FFF;
}
.down i {
  margin-left: 1px;
}

.offer--big .down {
  right: 0;
  left: 0;
  bottom: 65px;
}

.quote {
  color: rgba(255, 255, 255, 0.95);
  font: 22px/25px "Cormorant Infant SemoBold Italic";
  text-align: right;
  width: 610px;
  font-weight: 100;
  text-decoration: none;
}
@media (max-width: 1100px) {
  .quote {
    width: 90%;
  }
}
@media (max-width: 750px) {
  .quote {
    font: 20px/22px "Cormorant Infant SemoBold Italic";
  }
}
@media (max-width: 600px) {
  .quote {
    font: 18px/20px "Cormorant Infant SemoBold Italic";
  }
}
.quote--center {
  font: 38px/60px "Cormorant Infant SemoBold Italic";
  text-align: center;
  width: 750px;
}
.quote--center span {
  display: inline-block;
  position: relative;
}
.quote--center span:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 13px;
}
@media (max-width: 1100px) {
  .quote--center {
    width: 90%;
  }
  .quote--center span {
    display: inline;
  }
  .quote--center span:after {
    display: none;
  }
}
@media (max-width: 750px) {
  .quote--center {
    font: 34px/55px "Cormorant Infant SemoBold Italic";
  }
}
@media (max-width: 600px) {
  .quote--center {
    font: 28px/40px "Cormorant Infant SemoBold Italic";
  }
}
.quote:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 12px;
  margin-right: 5px;
  background-image: url("../images/quote.png");
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.quote:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 14px;
  height: 12px;
  margin-left: 5px;
  background-image: url("../images/quote.png");
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.author {
  display: block;
  text-transform: uppercase;
  font: 18px "DIN Pro Cond Bold";
  color: #C3995F;
  text-shadow: -0.087px 0.996px 1px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  text-decoration: none;
}

.quote--center + .author {
  font-size: 22px;
}

.about .row {
  margin-bottom: 30px;
}
.about .row .col:nth-of-type(2n) {
  text-align: right;
}
.about p {
  padding-right: 40px;
}
@media (max-width: 992px) {
  .about p {
    padding-right: 0px;
    text-align: left;
  }
  .about .row .col {
    text-align: center;
  }
  .about .row .col:nth-of-type(2n) {
    text-align: center;
  }
}

.imgWrap {
  display: inline-block;
  padding: 20px;
  width: 480px;
  height: 380px;
  position: relative;
}
@media (max-width: 992px) {
  .imgWrap {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .imgWrap {
    margin: 0 auto;
    width: 290px;
    height: 233px;
  }
}
.imgWrap img {
  max-width: calc(100% - 0px);
  max-height: calc(100% - 0px);
}
.imgWrap--bordered {
  background-image: url("../images/imgBg.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.readBook {
  text-align: center;
  width: 310px;
}
.readBook.marginRight {
  margin-left: calc(100% - 380px);
}
@media (max-width: 992px) {
  .readBook.marginRight {
    margin: 40px auto 0;
  }
}
.readBook em {
  margin-bottom: 45px;
  font-family: "Cormorant Infant Medium";
  color: #000;
  display: block;
  font-style: normal;
  font-size: 22px;
}
.readBook img {
  max-width: 100%;
  display: block;
}
.readBook img.marginLeft {
  margin-left: 30px;
}
@media (max-width: 992px) {
  .readBook img.marginLeft {
    margin-left: 40px;
  }
}

.article {
  text-align: left;
}
.article p {
  margin-bottom: 30px;
  line-height: 28px;
  text-align: left;
}

.charity .charityList {
  border: 1px solid #cccccc;
  padding: 7px 0;
}
@media (max-width: 1199px) {
  .charity .charityList {
    border: 0;
  }
}
.charity .charityList__item {
  padding: 0 0px 0 7px;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .charity .charityList__item {
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .charity .charityList__item {
    width: 100%;
    padding-right: 7px;
  }
}
.charity .charityList__item:last-of-type {
  padding-right: 7px;
}
.charity .charityList__item__img {
  height: 240px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.charity .charityList__item__img:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #402000;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.charity .charityList__item img {
  max-width: 120%;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.charity .charityList__item p {
  background-color: #f4f3f0;
  text-align: center;
  padding: 22px 5px 5px;
  min-height: 70px;
  font: 22px "Cormorant Infant Medium";
  color: #000;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.charity .charityList__item:hover {
  text-decoration: none;
}
.charity .charityList__item:hover p {
  background: #C3995F;
  color: #FFF;
  text-decoration: none;
}
.charity .charityList__item:hover .charityList__item__img:after {
  opacity: .4;
}

.reliz__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.reliz__list time {
  display: block;
  font: 14px "DIN Pro Cond Bold";
  color: #888888;
  margin-bottom: 10px;
}
.reliz__list a {
  border-bottom: 1px dotted #878787;
  font: 16px/28px "HelveticaNeueCyr";
  color: #878787;
}
.reliz__list a:hover {
  text-decoration: none;
  color: #888;
  border-bottom: 0;
}
.reliz__list li {
  margin-bottom: 28px;
  width: 33.3333%;
  list-style: none;
  display: inline-block;
}
@media (max-width: 800px) {
  .reliz__list li {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .reliz__list li {
    width: 100%;
  }
}

.event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 250px;
  padding: 10px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset 0px -90px 80px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -90px 80px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -90px 80px 0px rgba(0, 0, 0, 0.75);
}
.event:hover {
  text-decoration: none;
}
.event:before {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.event p {
  color: #FFF;
  padding: 12px;
  max-width: 80%;
  font: 18px/26px "DIN Pro Cond Bold";
}
@media (max-width: 768px) {
  .event {
    margin-bottom: 20px;
  }
  .event p {
    max-width: 100%;
  }
}

.button {
  height: 50px;
  background: transparent;
  border: 1px solid #cccccc;
  text-align: center;
  font: 16px/48px "DIN Pro Cond Bold";
  padding: 0;
  color: #C3995F;
  width: 160px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button:after {
  content: "";
  display: block;
  width: 90%;
  height: 6px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #C3995F;
  border-color: #C3995F;
}
.button:hover:after {
  border-color: #C3995F;
}
.button--line-through {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-group hr.for-button {
  position: relative;
  margin: 95px 0 -25px 0;
  z-index: 1;
}
.button-group hr.for-button:after {
  content: '';
  height: 10px;
  width: 220px;
  position: absolute;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: inherit;
}
.button-group .button {
  position: relative;
  z-index: 2;
}

.footer {
  background-color: #2B2E31;
  text-align: center;
}
.footer__menu {
  padding: 27px 0;
  border-bottom: 1px solid #3C3E41;
}
.footer__menu ul {
  margin: 0;
}
.footer__menu__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
  font-size: 13px;
  text-transform: uppercase;
}
.footer__menu__item a {
  color: #fff;
}
.footer__social {
  padding: 27px 0;
}
.footer__social .fa {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #55585A;
  color: #2B2E31;
  line-height: 20px;
  margin: 0 6px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__social a:hover .fa {
  background-color: #fff;
}
.footer__copyright {
  font-family: "DIN Pro Cond Bold";
  font-size: 16px;
  color: #4C4E50;
}
.footer__studio-logo {
  padding: 27px 0;
}
.footer__studio-logo a {
  display: inline-block;
  vertical-align: middle;
  opacity: .1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__studio-logo a:hover {
  opacity: 1;
}

.footer {
  background-color: #2B2E31;
  text-align: center;
}
.footer__menu {
  padding: 27px 0;
  border-bottom: 1px solid #3C3E41;
}
.footer__menu ul {
  margin: 0;
}
.footer__menu__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
  font-size: 13px;
  text-transform: uppercase;
}
.footer__menu__item a {
  color: #fff;
}
.footer__social {
  padding: 27px 0;
}
.footer__social .fa {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #55585A;
  color: #2B2E31;
  line-height: 20px;
  margin: 0 6px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__social a:hover .fa {
  background-color: #fff;
}
.footer__copyright {
  font-family: "DIN Pro Cond Bold";
  font-size: 16px;
  color: #4C4E50;
}
.footer__studio-logo {
  padding: 27px 0;
}
.footer__studio-logo a {
  display: inline-block;
  vertical-align: middle;
  opacity: .1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__studio-logo a:hover {
  opacity: 1;
}

.video {
  position: relative;
  padding: 0;
}
.video .container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 70px;
  z-index: 2;
}
@media (max-width: 750px) {
  .video .container {
    top: 10px;
    left: 10px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
.video h2 {
  color: #fff;
}
.video h2:after {
  background-color: #fff;
}
@media (max-width: 750px) {
  .video h2 {
    font: 44px/56px "Cormorant Upright Medium";
  }
}
@media (max-width: 600px) {
  .video h2 {
    font: 28px/40px "Cormorant Upright Medium";
  }
}
@media (max-width: 360px) {
  .video h2 {
    font: 22px/32px "Cormorant Upright Medium";
  }
}
.video__holder {
  position: relative;
  width: 100%;
  z-index: 1;
}
.video__holder:after {
  content: '';
  display: block;
  padding-top: 49%;
}
.video__holder .video-box {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/video.jpg);
}
.video__holder .video-control {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  color: #C3995F;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 750px) {
  .video__holder .video-control {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 360px) {
  .video__holder .video-control {
    width: 40px;
    height: 40px;
  }
}
.video__holder .video-control:hover {
  -webkit-animation: pulse 1s linear;
  -moz-animation: pulse 1s linear;
  -ms-animation: pulse 1s linear;
  animation: pulse 1s linear;
}
.video__holder .video-control .fa:before {
  content: "\f04c";
  font-size: 20px;
}
@media (max-width: 750px) {
  .video__holder .video-control .fa:before {
    font-size: 16px;
  }
}
.video__holder .video-control.paused {
  padding-left: 4px;
}
.video__holder .video-control.paused .fa:before {
  content: "\f04b";
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}
@-moz-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}
@-o-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}
.tabs {
  position: relative;
  padding-top: 22px;
}
@media (max-width: 750px) {
  .tabs {
    padding-top: 0;
  }
}
.tabs__menu {
  position: absolute;
  right: 0;
  top: -105px;
}
@media (max-width: 750px) {
  .tabs__menu {
    position: static;
    margin-bottom: 40px;
  }
}
.tabs__menu__item {
  display: inline-block;
  font-family: "Cormorant Infant Medium";
  font-size: 24px;
}
.tabs__menu__item:not(:last-child):after {
  content: '/';
  margin: 0 14px 0 20px;
  display: inline-block;
}
.tabs__menu__item a {
  color: #999999;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tabs__menu__item a:hover, .tabs__menu__item a:focus {
  text-decoration: none;
  outline: 0;
}
.tabs__menu__item.ui-state-active a, .tabs__menu__item.ui-state-hover a {
  color: #e54c39;
}
.tabs__tab__image img {
  max-width: 100%;
}

.form {
  text-align: right;
  padding: 0 10px;
}
.form input,
.form textarea {
  height: 50px;
  font: 16px "DIN Pro Cond Bold";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  color: #878787;
}
.form .row div:nth-of-type(2n) {
  padding-right: 0;
}
.form .row div:nth-of-type(3n + 1) {
  padding-left: 0;
}
@media (max-width: 992px) {
  .form .row {
    margin: 0;
  }
  .form .row div:nth-of-type(2n) {
    padding: 0;
  }
  .form .row div:nth-of-type(3n + 1) {
    padding: 0;
  }
}
.form textarea {
  height: auto;
  resize: none;
  height: 210px;
  width: 100%;
  position: relative;
  padding: 20px;
}
.form .button {
  display: inline-block;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  columns: #cccccc;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  columns: #cccccc;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  columns: #cccccc;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  columns: #cccccc;
}

textarea::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  padding-top: 70px;
}

textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  padding-top: 70px;
}

textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  padding-top: 70px;
}

textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  padding-top: 70px;
}

.contactUs {
  color: #202020;
}
@media (max-width: 992px) {
  .contactUs {
    margin-bottom: 40px;
  }
}
.contactUs a {
  display: block;
  margin-bottom: 15px;
  color: #202020;
  font: 22px "Cormorant Infant Medium";
}
.contactUs a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-image: url("../images/contactsIcons.png");
  margin-right: 12px;
}
.contactUs a.tel:before {
  background-position: 0 93px;
}
.contactUs a.web:before {
  background-position: 0 40px;
}

.contacts .article p {
  padding-right: 40px;
}

.song {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.song .play-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  border: 0;
  font-size: 10px;
  padding: 0;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #E5E5E5;
  color: #666666;
}
.song .play-btn:hover {
  background-color: #C3995F;
  color: #fff;
}
.song .play-btn.paused {
  padding-left: 2px;
}
.song .play-btn.paused .fa-pause {
  display: none;
}
.song .play-btn.paused .fa-play {
  display: inline-block;
}
.song .play-btn .fa-play {
  display: none;
}
.song__info {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  padding-top: 6px;
}
.song__info__title {
  font-size: 15px;
  color: #444444;
}
.song__info__singer {
  font-size: 13px;
  color: #888888;
}
.song .player {
  width: 100%;
  margin: 5px 0 0;
  padding-left: 40px;
  visibility: hidden;
}
.song .player .player-progress-bar {
  width: 100%;
  height: 10px;
  position: relative;
  cursor: pointer;
}
.song .player .player-progress-bar:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  background-color: #e2e2e2;
  z-index: 1;
}
.song .player .player-progress-bar .ui-slider-handle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #C3995F;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -5px;
  z-index: 3;
}
.song .player .player-progress-bar .ui-slider-range {
  position: absolute;
  height: 2px;
  background-color: #C3995F;
  left: 0;
  top: 4px;
  z-index: 2;
}

audio {
  display: none;
}

.media-item {
  display: block;
  margin: 10px 0;
}
.media-item a {
  padding: 20px;
  position: relative;
  display: block;
  margin: 0 auto;
  background-image: url(../images/media-item-border.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.media-item a:after {
  content: '';
  width: 100%;
  padding-bottom: 100%;
  display: block;
}
.media-item .cover {
  position: absolute;
  left: 20px;
  top: 20px;
  bottom: 20px;
  right: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.media-item .cover:after {
  content: "\f0da";
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: .2;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  color: #fff;
  font-family: FontAwesome;
  text-align: center;
  line-height: 28px;
  padding-left: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.media-item .title {
  position: absolute;
  left: 50%;
  bottom: 40px;
  color: #fff;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "DIN Pro Cond Bold";
  font-size: 18px;
  padding: 0 35px;
  width: 100%;
  text-align: center;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.media-item a:hover .cover:after {
  background-color: #C3995F;
  opacity: 1;
  border-color: transparent;
  -webkit-transform: translate(-50%, -50%) scale(2.6);
  -ms-transform: translate(-50%, -50%) scale(2.6);
  -o-transform: translate(-50%, -50%) scale(2.6);
  transform: translate(-50%, -50%) scale(2.6);
}
.media-item a:hover .title {
  color: #C3995F;
}

.media-inner {
  padding-bottom: 0;
}
.media-inner .container {
  position: relative;
}
.media-inner .song {
  padding-top: 30px;
  padding-bottom: 0;
}

a.return-back {
  position: absolute;
  right: 15px;
  top: 14px;
  font-family: "Cormorant Infant Medium";
  font-size: 24px;
  color: #666666;
}
@media (max-width: 600px) {
  a.return-back {
    position: static;
    margin-bottom: 20px;
    display: block;
  }
}
a.return-back:hover {
  color: #C3995F;
}
a.return-back:hover .fa {
  color: #C3995F;
}
a.return-back span {
  vertical-align: middle;
}
a.return-back .fa {
  font-size: 20px;
  color: #999999;
  margin-left: 15px;
  vertical-align: middle;
}

.events {
  padding-bottom: 0;
}

.events .reliz__list {
  padding-top: 12px;
}
.events .reliz__list li {
  margin-bottom: 0;
  margin-top: 28px;
}

.news-item {
  display: block;
}
@media (max-width: 992px) {
  .news-item {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .news-item {
    width: 100%;
  }
}
.news-item .cover {
  width: 100%;
  height: 180px;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.news-item .cover:after {
  content: '';
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
}
.news-item .cover:before {
  content: '';
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  border: 1px solid #fff;
  opacity: .2;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.news-item .cover time {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: #fff;
  font-family: "DIN Pro Cond Bold";
  font-size: 16px;
  z-index: 3;
}
.news-item .text-preview {
  background-color: #fff;
  width: 100%;
  padding: 15px;
  color: #666666;
  font-family: "DIN Pro Cond Bold";
  font-size: 16px;
}

.event-details {
  padding-bottom: 0;
}
.event-details .container {
  position: relative;
}
.event-details hr {
  margin: 20px 0 40px 0;
}
.event-details article {
  font-size: 15px;
  color: #444444;
  border-bottom: 1px solid #ccc;
  padding-bottom: 70px;
}
.event-details article .article-image {
  float: left;
  width: 41.666%;
  margin: 0 40px 20px 0;
  position: relative;
}
.event-details article .article-image img {
  width: 100%;
}
.event-details article .article-image:before {
  content: '';
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  border: 1px solid #fff;
  opacity: .2;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.event-details article .article-title {
  font-size: 20px;
  font-family: "DIN Pro Cond Bold";
  color: #444444;
  margin-bottom: 20px;
  line-height: normal;
  display: inherit;
}
.event-details article .article-title:after {
  display: none;
}
.event-details article time {
  display: block;
  font: 16px "DIN Pro Cond Bold";
  color: #888888;
  margin-bottom: 30px;
}
.event-details article p:not(:last-child) {
  margin-bottom: 22px;
}

/*# sourceMappingURL=general.css.map */
