.about {
    .row {
        margin-bottom: 30px;
        .col:nth-of-type(2n) {
            text-align: right;
        }
    }
    p {
        padding-right: 40px;
    }
    @include tab {
        p {
            padding-right: 0px;
            text-align: left;
        }
        .row {
            .col {
                text-align: center;
            }
            .col:nth-of-type(2n) {
                text-align: center;
            }
        }
    }
}

.imgWrap {
    display: inline-block;
    padding: 20px;
    width: 480px;
    height: 380px;
    position: relative;
    @include tab {
        margin: 0 auto;
    }
    @include m600 {
        margin: 0 auto;
        width: 290px;
        height: 233px;
    }
    img {
            max-width: calc(100% - 0px);
         max-height: calc(100% - 0px);
    }
    &--bordered {
        background-image: url("../images/imgBg.png");
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
}

.readBook {
    text-align: center;
    width: 310px;
    &.marginRight {
        margin-left: calc(100% - 380px);
        @include tab {
            margin: 40px auto 0;
        }
    }
    em {
        margin-bottom: 45px;
        font-family: $cim;
        color: #000;
        display: block;
        font-style: normal;
        font-size: 22px;
    }
    img {
        max-width: 100%;
        display: block;
        &.marginLeft {
            margin-left: 30px;
            @include tab {
                margin-left: 40px;
            }
        }
    }

}