.article {
    text-align: left;
    p {
        margin-bottom: 30px;
        line-height: 28px;
        text-align: left;
    }
}

article {
    .charityList {
        margin-top: 50px;
        p {
            background-color: #FFF;
        }
    }
    > img {
        float: right;
        margin: 0 0 30px 60px;
        &.left {
            float: left;
            margin: 0 60px 30px 0;
        }
    }
}


article.borderTop {
    border-top: 1px solid #dddddd;
    margin-top: 20px;
    padding-top: 30px;
    border-bottom: none;
}

.articleSlider {
    width: 470px;
    float: left;
    margin: 0 40px 20px 0;
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 8px;
        bottom: 8px;
        right: 8px;
        border: 1px solid rgba(255,255,255,.5);
        z-index: 2;
    }
    .slick-dots {
        bottom: auto;
        top: 15px;
        padding-left: 25px;
        text-align: left;
        margin: 0;
        z-index: 3;
        li {
            width: 9px;
            height: 9px;
            background-color: #fff;
            display: inline-block;
            margin: 0 9px 0 0;
            &.slick-active {
                background-color: #e54c39;
            }
            &:before {
                display: none;
            }
            button {
                display: none;
            }
        }
    }
}

.docs {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
        -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
        margin-top: 100px;
         border-top: 1px solid #dddddd;
    margin-top: 20px;
    padding-top: 30px;
        a {
            margin-bottom: 38px;
            color: #444;
            display: block;
            -webkit-transition: all .2s;
               -moz-transition: all .2s;
                -ms-transition: all .2s;
                 -o-transition: all .2s;
                    transition: all .2s;
            span {
                line-height: 22px;
            }
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 35px;
                height: 40px;
                margin-right: 12px;
                background-image: url("../images/pdf_grey.png");
                -webkit-background-size: 100% 100%;
                     -o-background-size: 100% 100%;
                        background-size: 100% 100%;
            }
            &:hover {
                border: none;
                text-decoration: none;
                span {
                    border-bottom: 1px dotted #444;
                }
            }
            &:hover:before {
                 background-image: url("../images/pdf.png");
            }
        }
}