.offer {
    min-height: 300px;
    padding: 120px 0 60px;
    background-image: url("../images/offer_bg_sm.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    &--big {
        height: 940px;
        background-image: url("../images/offer_bg.jpg");
    }
    .wrapper {
        height: 100%;
        @include flex($direction: column, $alignI: center, $justify: center);
    }
}

.quote {
    color: #FFF;
    font: 38px/60px $cisbi;
    text-align: center;
    width: 750px;
    font-weight: 100;
    .author {
        display: block;
        text-transform: uppercase;
        font: 22px $din;
        color: $gold;
        text-shadow: -0.087px 0.996px 1px rgba(0, 0, 0, 0.3);
        margin-top: 20px;
    }
}