// COLORS
// ---------------------------

$red : #e54c39;
$grey: #878787;
$gold: #caa573;

// FONTS
// ---------------------------
$ci:			'Cormorant Infant Regular';
$cim:			'Cormorant Infant Medium';
$cisbi:			'Cormorant Infant SemoBold Italic';
$cum:			'Cormorant Upright Medium';

$hv:			"Helvetica Neue";

$din:			'DIN Pro Cond';


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
	font-family: $hv;
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
