// COLORS
// ---------------------------

$red : #e54c39;
$grey: #878787;
$greyL: #cccccc;
$gold: #bc8c4b;
$coffee: #f4f3f0;

// FONTS
// ---------------------------
$ci:			'Cormorant Infant Regular';
$cim:			'Cormorant Infant Medium';
$cisbi:			'Cormorant Infant SemoBold Italic';
$cupm:			'Cormorant Upright Medium';
$cisb:          'Cormorant Garamond SemiBold';

$hv:			'HelveticaNeueCyr';

$din:			'DIN Pro Cond Bold';


// RESPONSIVE
// ---------------------------
$lg:            'max-width: 1199px';
$md:            'max-width: 991px';
$sm:            'max-width: 767px';
$xs:            'max-width: 543px';


// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    font-size: 16px;
    font-family: $hv;
    color: $grey;
}
h2,
h1 {
    color: $gold;
    font: 60px/72px $cupm;
    display: inline-block;
    margin-bottom: 40px;
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $gold;
        margin-top: -8px;
    }
    @media (max-width: 600px) {
        font: 48px/60px $cupm;
    }
}

.white {
    color: #FFF;
}


// lAYOUT
// ---------------------------

.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.container {
	width: 1200px;
    background-color: inherit;
    position: relative;

    @media (max-width: 1199px) {
        width: 100%;
        padding: 0 15px;
    }
}
section {
    padding: 70px 0;
}
hr {
    border-top-color: #ccc;
}

.coffeeBg {
    background-color: $coffee;
}
.whiteBg {
    background-color: #fff;
}
.clearfix {
    @extend %clearfix;
}
.media {
    margin-top: 0;
}